@font-face {
  font-family: "Red Hats Display";
  src: url(assets/fonts/RedHatDisplay/RedHatDisplay-Medium.ttf);
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Red Hats Display", sans-serif;
  transition: var(--default-transition);
}

/* 
#body {
  height: auto;
} */

:root {
  --default-transition: color .1s ease-in-out, fill .1s ease-in-out,
    border-color .3s ease-in-out, transform .3s ease-in-out;
  --spotify-green: #11d13e;
}

:root[data-theme="light"] {
  --logo: invert(1);
  --primary-100: #1E2022;
  --primary-200: #34373b;
  --primary-300: #b6bbbf;
  --accent-100: #788189;
  --accent-200: #e1e4e6;
  --text-100: #1E2022;
  --text-200: #887767;
  --text-300: #6b6b6b;
  --bg-100: #F0F5F9;
  --bg-200: #C9D6DF;
  --bg-300: #bfc7d1;
  --link-hover: #f9f9f9;
  --switch-bg-icon: #ffd371;
  --muted-text: #b1b0b5;
  --icon-sun: #ee8e44;
  --icon-moon: #b7b7b7;
  --switch-pos: .25em;
  --change: #aa8b52;
  --change: #396ce2;
}


:root[data-theme="dark"] {
  --logo: invert(0);
  --primary-100: #a9a9a9;
  --primary-200: #808080;
  --primary-300: #696969;
  --accent-100: #c0c0c0;
  --accent-200: #d3d3d3;
  --text-100: #e1dfdd;
  --text-200: #766c6c;
  --text-300: #f9f9f9;
  --link-hover: #f9f9f9;
  --bg-100: #262626;
  --bg-200: #333333;
  --bg-300: #404040;
  --link-hover: #030303;
  --switch-bg-icon: #081d32;
  --muted-text: #77757E;
  --icon-sun: var(--muted-text);
  --icon-moon: #b7b7b7;
  --switch-pos: 2.7em;
  --change: #aa8b52;
}


/* GENERAL */

html {
  height: 100dvh;
  font-size: 100%;
  background-color: var(--bg-100);
  margin: auto;
  line-height: 1.5em;
}



/*NAVBAR*/
#logo {
  width: 2em;
  text-indent: -999em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/images/logo_transparent.png);
  font-size: 3em;
  line-height: 1.5em;
  margin-left: .5em;
}


[data-theme="light"] #logo {
  filter: invert(1);
}

[data-theme="light"] #logo:hover {
  filter: invert(0);
}

[data-theme="dark"] #logo {
  filter: invert(0);
}

[data-theme="dark"] #logo:hover {
  filter: invert(1);
}

#menu {
  padding: 0em;
  height: 4em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 30px;
}

#menu ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#menu ul li {
  margin: 0 .5em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text-100);
}


a:hover:not(.card a) {
  text-decoration: none;
  color: var(--text-200);
}

#breadcrumb {
  display: block;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}



/*CONTACTS*/
#heading {
  text-align: center;
  width: 70%;
  color: var(--text-100);
  padding: .5em;
}

div#contacts {
  margin: 2em auto;
  width: 30%;
  background-color: var(--bg-200);
  border-radius: 30px;
  max-width: 50em;
  min-width: 20em;
}

#contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  vertical-align: middle;
  fill: var(--text-100);
}

#contatti {
  padding-bottom: 1.5em;
}

#contatti li:hover svg {
  fill: var(--text-200);
}

#contatti li {
  display: block;
  padding-inline: 1em;
  padding-top: 1em;
}

#headingForm {
  text-align: center;
  width: 100%;
  color: var(--text-100);
  padding: 1em;
}

#form {
  width: 30%;
  margin: 3em auto;
  background-color: var(--bg-200);
  border-radius: 30px;
  max-width: 50em;
  min-width: 20em;
}

#contact-form {
  width: 70%;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
}

#contact-form label {
  display: inline-block;
  margin: .5em;
  width: 100%;
  color: var(--text-100)
}

#contact-form fieldset {
  border: none;
  text-align: center;
  display: block;
}

#personal label {
  display: inline;
  margin: .5em;
  width: 100%;
}

#contact-form input,
#contact-form textarea {
  display: block;
  width: 90%;
  margin: auto;
  padding: .5em;
  border-radius: 30px;
  border: 1px solid var(--bg-100);
  background-color: var(--bg-100);
  color: var(--text-100);
  resize: none;
}

#submit-form {
  padding: 6em;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  margin: auto 0;
  color: var(--text-100);
  opacity: .85;
  text-align: center;
}


#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--primary-100);
}


#contact-form input[type="submit"] {
  width: 50%;
  margin: 2em auto;
  padding: .75em;
  border-radius: 30px;
  border: 1px solid var(--bg-100);
  background-color: var(--bg-100);
  color: var(--text-100);
  cursor: pointer;
}

#contact-form input[type="submit"]:hover {
  background-color: var(--text-200);
  color: var(--bg-100);
  outline: none;
  padding: .75em;
}



/*TOGGLE SWITCH*/
#theme-switcher {
  background-color: var(--bg-100);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  padding: .5em;
  position: relative;
  transition: var(--default-transition);
}

#theme-switcher::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--switch-bg-icon);
  border-radius: 50px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-pos));
  transition: var(--default-transition);
}

#theme-switcher svg {
  z-index: 1;
  transition: var(--default-transition);
}

#sun {
  fill: var(--icon-sun);
}

#moon {
  fill: var(--icon-moon);
}

/*ACTIVE*/
.active {
  box-shadow: inset 0 -2px 0 var(--text-200);
}

.active a:is(:active, :focus, :link, :visited) {
  color: var(--text-200);
  font-size: large;
}

/*ABOUT*/

#about-image img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 30px;
}

/**PROJECTS**/

.title {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: var(--text-100);
  padding-top: .5em;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  /* Three columns with equal width */
  gap: 4em;
  /* Adjust the gap between cards as needed */
  list-style: none;
  padding: 0;
}


.card {
  flex: 1;
  max-width: 30em;
  min-width: 30em;
  border-radius: 1em;
  background-color: var(--bg-200);
  margin: auto;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 1em;
  text-align: center;
  display: inline-block;
  color: var(--text-100);
  font-size: 1.1em;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.profile-picture {
  width: 100%;
  max-width: auto;
  min-width: auto;
  height: auto;
  max-height: 20em;
  margin: auto;
}

.card .card-title {
  font-size: 2em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content > * {
  padding-bottom: 1em;
  line-height: 1.2em;
}

.container {
  margin: 5em;
}

/**DETAILS**/

.projectDetails h2 {
  margin: auto;
  width: 30%;
  color: var(--text-100);
  text-align: center;
  font-size: 2em;
  padding: 1em;

}

.projectDetails img {
  margin: auto;
  width: 70em;
  display: flex;
  padding: 2em 2em 0 2em;
}

.projectDetails p {
  margin: auto;
  width: 50%;
  color: var(--text-100);
  text-align: justify;
  font-size: 1.2em;
  padding-bottom: 3em;
}

.projectDetails figcaption {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-100);
  padding: 0 3em 3em 3em;
}

.projectDetails svg {
  display: flex;
  margin: 2em auto;
}

/**FOOTER**/

#bottom {
  width: 100%;
  color: var(--text-100);
}

#footer-list {
  border-top: 1px solid var(--primary-100);
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#footer-list a {
  color: var(--text-200);
}

/**HOME**/

#home {
  text-align: center;
  color: var(--text-100);
}

#title {
  font-size: 5em;
  padding: 1em;
}

#typewriter {
  font-size: 2em;
  padding: 1em;
}

#change {
  color: var(--change);
}

.description {
  line-height: 1.3em;
  font-size: 1.5em;
  padding: 1em;
}

.description a {
  color: var(--text-200);
}

/*TIC TAC TOE*/

.baord-container {
  text-align: center;
}

.TicTac {
  margin: auto;
  color: var(--text-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.reset {
  width: 10em;
  height: 3em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-200);
  color: var(--text-100);
  display: block;
  margin: 5em auto;
}

.reset:hover {
  background-color: var(--text-200);
  outline: none;

}

.box {
  width: 10em;
  height: 10em;
  border: 1px solid var(--bg-100);
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--bg-200);
  margin: .25em;
}

.board {
  display: flex;
  height: 30em;
  width: 30em;
  margin: auto;
}

#about {
  margin: 1em;
}

.section {
  color: var(--text-100);
  text-align: center;
  padding: 1em;
}

.section p {
  font-size: 1.2em;
  line-height: 1.5em;
}



/**CURRENTLY PLAYING**/
svg#song path {
  stroke: white;
  stroke-width: 1.5;
  stroke-linecap: round;
}

#song {
  display: flex;
  margin: 0 2em;
}

div#Now {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /* color: var(--text-100); */
}

#Now h2 {
  padding-left: 1em;
}

.nowPlayingCard {
  background-color: black;
  box-shadow: 5px 5px 5px var(--primary-100);
  border: 2px solid var(--primary-100);
  width: 70%;
  margin: 1em auto;
}

.nowPlayingInfo {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}

.nowPlayingImage img {
  width: 30%;
  height: auto;
  display: flex;
  margin: auto;
}

.progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1em;
}

.nowPlayingTime {
  padding-left: 1em;
  color: white;
}

.NowPlaying {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.NowPlaying a {
  color: white;

}

.custom-progress-bar {
  width: 60%;
  display: flex;
  border-radius: 20px;
  /*NO IDEA WHY THIS DOESNT WORK IF REMOVED*/
}

.custom-progress-bar::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 20px;
}

.custom-progress-bar::-webkit-progress-value {
  background-color: var(--spotify-green);
  border-radius: 20px;
}

/**PLAYLIST**/